@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fira+Mono:wght@400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    user-select: none;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Poppins", serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    touch-action: none;
    overflow: hidden;
  }

body{
    height: 100dvh;
    background-image: url("src/bg.jpeg"), url('src/blur-bg.jpg');
    background-position: center;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
}

button {
    -webkit-tap-highlight-color: transparent;
}


#container{
    padding: 5% 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#cal{
    font-size: 0.5rem;
}


#top{
    display: flex;
    flex-direction: column;
    align-items:center;
}

#bottom{

    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottom>i{
    font-size: 15px;
}

#swipe{
    height: 1rem;
    width: 1rem;
    border: none;
    background-color: rgba(0,0,0,0);
    background-image: url("src/arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: bounce 1s ease-in-out infinite;
}
@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}

/*-----------------------------------------*/

@keyframes swipeUp {
    from{
        transform: translateY(0px);
        opacity: 100%;
    }

    to{
        transform: translateY(-200px);
        opacity: 0%;
    }
}

@keyframes appear {
    from{
        transform: scale(95%);
        opacity: 0%;
    }
    to{
        transform: scale(100%);
        opacity: 100%;

    }
}

#pswd-container{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: none;
}

#pswd-container  i{
    font-size: 1rem;
    font-weight: 200;

}

#err-msg{
    letter-spacing: 5px;
    font-size: 0.5rem !important;
    display: none;
}

#keypad{
    height: 50%;
    width: 80%;
    gap:10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    
}

.pin-key{
    --size : 80px;
    height: var(--size);
    width: var(--size);
    border: none;
    background-color: rgba(180,180,180,0.3);
    border-radius: 50%;;
    line-height: 0px;
}
.pin-key:active{
    background-color: rgba(180,180,180,0.6);
    
}
#pswd-display{
    display: flex;
    gap:10px;
}
.pin-display{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.386);
    
}

.pin-reset{
    background-color: rgba(255, 255, 255, 0.3);
   
}
.pin-active{
    background-color: rgba(255, 255, 255, 1);
   
}

@keyframes wrongPin {
    0%{
        transform: translateX(0%);
    }
    33%{
        transform: translateX(-10%);
        
    }
    
    66%{
        transform: translateX(10%);
        
    }
    
    100%{
        transform: translateX(0%);

    }
}

#zero{
    grid-column: 1/4;
    place-self: center;
}

#success-screen{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    font-weight: 200;
}